 @import url("https://fonts.googleapis.com/css?family=Raleway:400,500");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

body {
    background-image: linear-gradient(to right bottom, #d959ed, #c657ee, #b155ee, #9a53ee, #8152ed, #5f6df9, #3782ff, #0093ff, #00b7ff, #00d3f2, #00e8bd, #76f681);
  color: rgb(5, 95, 73);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.container {
  border-radius: 3px;
  position: relative;
  width: 450px;
  height: 150px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
  box-shadow: 0 15px 20px 0 #000;
}

#btn {
    position: relative;
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(16, 191, 197);
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 90px;
    margin-left: 160px;
    opacity: 1;
    cursor: pointer;
    box-shadow: 0 5px 7px 0 rgb(58, 57, 57);
  }

  .quote-box #quote {
    text-align: center;
    width: 450px;
    height: auto;
    clear: both;
    font-weight: 500;
    font-size: 1.75em;
  }

  .quote-box #author {
    width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
  }
